*{
  background-color: rgb(78, 75, 75);
}
h1{
  color: rgba(250, 120, 120, 0.9);
  text-align: center;
  font-family: sans-serif;
  margin-top: 150px;
  font-size: 50px;
}
.count{
  font-size: 60px;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: sans-serif;
}
.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 140px;
  width: auto;
  justify-content: space-between;
}
.buttons Button{
  background-color: rgba(250, 120, 120, 0.5);
  color: rgba(250, 235, 215, 0.838);
  border-radius: 8px;
  height: 50px;
  width: 400px;
  border-color: rgba(250, 120, 120, 0.5);
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.buttons Button:hover{
  background-color: rgb(250, 120, 120);
  transform: scale(1.02);
}